@font-face {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2")
}

@font-face {
    font-family: Open Sans -Semibold;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-SemiBold.woff) format("woff"), url(../fonts/OpenSans-SemiBold.woff2) format("woff2")
}

body {
    font-family: Open Sans, Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column
}

footer {
    margin-top: auto
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background: transparent
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none
}

* {
    outline: none
}

.header {
    min-height: 59px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
}

.header__wrapper {
    align-items: baseline;
    justify-content: space-between;
    display: flex
}

.header__logo {
    height: 24px;
    width: 90px;
    margin: 17px 40px 17px 0
}

.header__hot-line, .header__work-time {
    display: none
}

.header__work-time > svg {
    fill: #b3b3b3
}

.header__user span {
    display: none
}

.header .icon-lk {
    height: 18px;
    width: 18px;
    fill: #000
}

.header__search-language__wrapper {
    display: flex
}

.header__search__button {
    outline: transparent;
    fill: #000;
    transition: .3s
}

.header__search__button > svg {
    width: 18px;
    height: 18px;
    margin-right: 4vw
}

.header__search__button:hover {
    fill: #a1ce5c;
    transition: .3s
}

.header__search__button.nice-select.open, .header__search__button:active {
    fill: #a1ce5c
}

.header__language {
    position: relative
}

.header__language__item {
    display: inline-block;
    position: relative;
    text-transform: uppercase
}

.header__language .icon-arrow_down {
    width: 20px;
    height: 15px
}

.header__menu {
    align-self: center
}

.header__menu__btn {
    height: 22px;
    width: 22px;
    display: block;
    position: relative;
    outline: transparent
}

.header__menu__btn:after {
    content: "";
    width: 27px;
    height: 2px;
    background: #000;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    box-shadow: 0 10px #000, 0 20px #000
}

.header__menu__btn svg, .language {
    display: none
}

.language {
    position: absolute;
    width: 100%;
    top: 20px;
    background: #d7e9f7;
    text-transform: uppercase;
    font-size: 12px
}

.language__list__item > a {
    padding: 10px;
    color: #000;
    display: block;
    transition: .3s
}

.language__list__item > a:hover {
    background: #219bd8;
    color: #fff;
    transition: .3s
}

.navigation {
    display: none;
    flex-shrink: 0;
    border-top: 1px solid #cdcdcd
}

.search {
    position: absolute;
    background: #eef5f9;
    z-index: 10;
    height: 59px;
    width: 0;
    top: 0;
    right: 0;
    transition: .3s;
    border-bottom: 1px solid #fbfcfd;
    box-sizing: border-box;
    overflow: hidden
}

.search__open {
    width: 100%;
    transition: .3s
}

.search__form {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0
}

.search__input {
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    padding: 0 15px 0 0;
    font-size: 14px;
    background: transparent
}

.search__input__wrapper {
    width: 100%;
    display: inline-block
}

.search__button {
    height: 59px;
    width: 59px;
    display: block;
    flex-shrink: 0
}

.search__button > svg {
    margin-top: 0
}

.search__button:hover {
    fill: #a1ce5c;
    transition: .3s
}

.search__button.nice-select.open, .search__button:active {
    fill: #a1ce5c
}

.search__button > svg {
    height: 18px;
    width: 18px
}

.search__close {
    height: 59px;
    width: 59px;
    display: block;
    flex-shrink: 0
}

.search__close > svg {
    height: 18px;
    width: 18px;
    fill: #aaa
}

.search__results {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    min-width: 100%
}

.search__results__wrapper {
    background: #eef5f9;
    padding: 0
}

.search__results__list {
    padding: 0 10px;
    width: 100%
}

.search__results__item_active {
    font-weight: 700
}

.search__results__item a {
    color: #000;
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 400;
    transition: .3s
}

.search__results__item a:hover {
    color: #219bd8;
    transition: .3s
}

.search__results__button {
    width: 100%;
    padding: 8px 0 10px;
    background-color: #dbe3e8;
    font-size: 14px;
    font-weight: 400;
    transition: .3s
}

.search__results__button:hover {
    background: #a1ce5c;
    transition: .3s
}

.mobile {
    display: none;
    background: #f1f7fc;
    padding: 35px 0 20px;
    z-index: 50;
    position: relative
}

.mobile__contacts {
    border-bottom: 1px solid #dee6ec;
    padding-bottom: 30px
}

.mobile__hot__phone {
    font-family: Open Sans -Semibold, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px
}

.mobile__hot__description {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 10px
}

.mobile__phone {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10px
}

.mobile__email, .mobile__phone {
    font-family: Open Sans -Semibold, Arial, sans-serif
}

.mobile__email {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 10px 0
}

.mobile__menu__item {
    border-bottom: 1px solid #dee6ec
}

.mobile__menu__item a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 15px 0;
    margin: 0 10px;
    display: flex;
    justify-content: space-between
}

.mobile__menu__item svg {
    width: 20px;
    height: 15px
}

.mobile__menu__item_active svg {
    transform: rotate(180deg)
}

.mobile__submenu {
    background: #fff;
    padding: 20px 0 20px 25px
}

.mobile__submenu__item {
    display: flex
}

.mobile__submenu__item svg {
    width: 32px;
    height: 32px
}

.mobile__submenu__item span {
    align-self: center;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400
}

.prime {
    position: relative
}

.prime__slider__item {
    height: 500px;
    position: relative
}

.prime__slider__image {
    display: none
}

.prime__new {
    padding: 5px 10px 8px;
    background: #a1ce5c;
    margin-top: 49px;
    display: inline-block;
    font-size: 10px;
    font-weight: 700
}

.prime__new span {
    opacity: .82
}

.prime__title {
    margin-top: 23px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px
}

.prime__description {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.prime__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.prime__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center
}

.news .slick-dots, .prime .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0
}

.news .slick-dots button, .prime .slick-dots button {
    border: 1px solid #fff;
    width: 37px;
    height: 7px;
    background: transparent;
    margin: 0 6px
}

.news .slick-dots > .slick-active > button, .prime .slick-dots > .slick-active > button {
    background: #fff
}

.slick-list {
    overflow: hidden
}

.slick-track {
    display: flex
}

.products {
    text-align: center
}

.products__title {
    font-family: Open Sans -Semibold, Arial, sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-top: 45px
}

.products__wrapper {
    margin-bottom: 63px
}

.products__item {
    margin-top: 30px;
    display: block;
    color: #000
}

.products__item__description {
    font-size: 15px
}

.icon-ico_1, .icon-ico_2, .icon-ico_3, .icon-ico_4, .icon-ico_5, .icon-ico_6, .icon-ico_7, .icon-ico_8, .icon-ico_9, .icon-ico_10 {
    width: 68px;
    height: 68px
}

.news {
    background: #d7e9f7;
    padding: 70px 10px 65px
}

.news__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0
}

.news__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center
}

.news__item {
    position: relative;
    padding: 0;
    margin-top: 15px
}

.news__item:first-child:after, .news__item:nth-child(3):after, .news__item:nth-child(4):after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0d2c39;
    opacity: .5;
    top: 172px;
    z-index: 1;
    transition: .3s
}

.news__item:first-child:hover:after, .news__item:nth-child(3):hover:after, .news__item:nth-child(4):hover:after {
    top: 0;
    transition: .3s
}

.news__item__description {
    margin-top: 111px;
    padding-bottom: 30px;
    position: relative;
    z-index: 5
}

.news__item__billet {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    min-height: 30px;
    color: #040404;
    letter-spacing: 2.08px;
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid rgba(249, 252, 253, .24);
    border-radius: 2px;
    margin: 26px 0 0 30px;
    position: relative;
    z-index: 10
}

.news__item__date {
    font-size: 14px;
    font-weight: 300;
    padding: 25px 0 16px 55px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .18);
    position: relative
}

.news__item__date > svg {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 21px;
    left: 30px
}

.news__item__title {
    margin: 18px 0 0;
    font-family: Open Sans -Semibold, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 30px;
    display: block;
    color: #fff
}

.news__company {
    color: #fff
}

.news__company .news__item__billet {
    background: #d7e9f7
}

.news__company .icon-time {
    fill: #fff
}

.news__industry {
    background: #fff
}

.news__industry > .news__item__billet {
    background: #badb8f
}

.news__industry > .news__item__title {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(115, 164, 184, .32);
    color: #000
}

.news__industry > .news__item__title:last-child {
    border-bottom: none;
    padding-bottom: 45px
}

.news__industry svg {
    fill: #999
}

.news__events {
    color: #fff
}

.news__events .news__item__billet {
    background: #d7e9f7
}

.news__events .news__item__date svg {
    fill: #999
}

.news__webinars {
    color: #fff
}

.news__webinars .news__item__billet {
    background: #badb8f
}

.news__webinars .news__item__date svg {
    fill: #999
}

.news__actions {
    background: #fff;
    position: relative
}

.news__actions .news__item__title {
    color: #000
}

.news__actions:before {
    content: "";
    position: absolute;
    display: block;
    width: 73px;
    height: 47px;
    background: url(../images/conda.jpg);
    top: 25px;
    right: 18px
}

.news__actions .slick-dots {
    bottom: unset;
    top: 220px
}

.news__actions .slick-dots button {
    border: none;
    width: 44px;
    height: 6px;
    background: #979899;
    margin: 0 10px
}

.news__actions .slick-dots > .slick-active > button {
    background: #badb8f
}

.news__actions .news__item__billet {
    background: #d7e9f7
}

.news__actions .news__item__image img {
    margin: 15px auto 0;
    display: block
}

.news__actions .news__item__title {
    margin-top: -28px;
    background: #badb8f;
    position: relative;
    z-index: 10;
    padding: 29px 30px 37px
}

.news__item__wrapper {
    background: #fff
}

.news__item__wrapper svg {
    width: 68px;
    height: 68px
}

.news__item__subitem {
    display: flex;
    justify-content: space-between;
    padding: 34px 37px 36px 30px;
    box-shadow: 0 3px 7px rgba(62, 125, 177, .08);
    border-bottom: 1px solid rgba(115, 164, 184, .32);
    transition: .3s
}

.news__item__subitem:hover {
    background: #eef8fd;
    transition: .3s
}

.news__subitem__description {
    font-size: 18px;
    line-height: 24px;
    font-family: Open Sans -Semibold, Arial, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #000
}

.network {
    padding: 55px 0 47px
}

.network__title {
    font-size: 24px;
    font-weight: 400
}

.network__select {
    margin-top: 10px;
    border-radius: 0;
    background: #f1f7fc
}

.network__select .list {
    border-radius: 0
}

.network__select .list li {
    position: relative
}

.network__select .list li:after {
    content: "";
    display: block;
    position: absolute;
    background: #e9eff2;
    height: 1px;
    left: 18px;
    right: 18px
}

.network__map {
    min-height: 500px;
    margin: 35px auto
}

.footer {
    color: #fff
}

.about {
    padding: 40px 0 70px;
    text-align: center;
    position: relative
}

.about__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.about__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center
}

.about__contacts {
    display: flex;
    flex-direction: column
}

.about__menu__item {
    margin-top: 15px
}

.about__menu__item a {
    color: #fff;
    font-size: 16px;
    font-weight: 700
}

.about__submenu__wrapper {
    display: none
}

.about__hot__phone, .about__phone {
    font-size: 24px;
    font-weight: 700
}

.about__phone {
    margin-top: 35px
}

.about__hot__phone {
    margin-top: 50px
}

.about__hot__description {
    font-size: 14px;
    font-weight: 400
}

.about__email {
    font-family: Open Sans -Semibold, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px
}

.about__logo {
    display: none
}

.stuff {
    background: #0a6297;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 25px 0 20px
}

.stuff__rights {
    opacity: .66
}

.stuff__rules {
    margin-top: 10px;
    opacity: .66
}

.stuff__rules a {
    color: #fff
}

.stuff__map {
    margin-top: 10px;
    opacity: .66
}

.stuff__map a {
    color: #fff
}

@media (min-width: 768px) {
    .header {
        min-height: 160px;
        display: flex;
        flex-wrap: wrap;
        z-index: 5
    }

    .header__logo {
        width: 152px;
        height: 40px;
        margin: 17px 40px 17px 0;
        transition: .3s
    }

    .header__hot-line {
        display: flex;
        flex-direction: column;
        align-self: center;
        transition: .3s
    }

    .header__hot-line__phone {
        color: #3c3c3b;
        font-size: 24px;
        font-weight: 700
    }

    .header__hot-line__description {
        color: #919191;
        font-size: 14px;
        font-weight: 400
    }

    .header__user {
        display: flex;
        align-self: center;
        transition: .3s
    }

    .header__user button {
        color: #219bd8;
        display: flex
    }

    .header__user span {
        display: block;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1px;
        transition: .3s
    }

    .header .icon-lk {
        fill: #219bd8
    }

    .header__search-language__wrapper {
        flex-direction: column-reverse
    }

    .header__search {
        text-align: right;
        margin-right: 13px
    }

    .header__language {
        margin-right: 4px;
        margin-bottom: 10px;
        display: flex
    }

    .header__language span {
        color: #31261a;
        font-size: 12px;
        font-weight: 400
    }

    .header__language .icon-arrow_down {
        margin-bottom: -3px
    }

    .header .icon-search {
        margin-right: 0
    }

    .header__menu {
        display: none
    }

    .search {
        height: 68px;
        top: 10px;
        background: transparent;
        border: none
    }

    .search__open {
        width: 100%
    }

    .search__form {
        background: #eef5f9;
        border-bottom: 1px solid #fbfcfd;
        width: 500px;
        margin-left: auto
    }

    .search__input {
        padding: 0 15px
    }

    .search__button {
        width: 67px;
        height: 67px
    }

    .search__button svg {
        width: 18px;
        height: 18px
    }

    .search__close {
        width: 67px;
        height: 67px;
        margin: 0
    }

    .search__close svg {
        height: 18px;
        width: 18px;
        fill: #aaa
    }

    .search__results {
        top: 78px;
        z-index: 60;
        min-width: unset;
        width: 100%
    }

    .search__results__wrapper {
        background: transparent
    }

    .search__results__list {
        background: #eef5f9;
        width: 500px;
        margin-left: auto
    }

    .search__results__button {
        width: 500px;
        margin-left: auto;
        display: block
    }

    .navigation {
        display: block;
        transition: .3s;
        width: 100%
    }

    .navigation__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: .3s
    }

    .navigation__list__item {
        margin-right: 20px
    }

    .navigation__list__item:hover > div {
        visibility: visible;
        opacity: 1
    }

    .navigation__list__item > a {
        padding: 10px 0 11px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        transition: .3s;
        position: relative
    }

    .navigation__list__item > a:after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        left: -5px;
        right: -5px;
        bottom: 0;
        z-index: 57
    }

    .navigation__list__item > a:hover {
        color: #219bd8;
        transition: .3s
    }

    .navigation__list__item > a:hover:after {
        background: #219bd8
    }

    .navigation__products__wrapper {
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease;
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        z-index: 10;
        padding-top: 35px;
        padding-bottom: 35px;
        background: #f1f7fc
    }

    .navigation__products__wrapper ul {
        justify-content: center
    }

    .navigation__products__wrapper .products__item {
        text-align: center;
        margin-top: 10px
    }

    .navigation__products__wrapper .products__item a {
        color: #000;
        transition: .3s
    }

    .navigation__products__wrapper .products__item a:hover {
        color: #219bd8;
        transition: .3s
    }

    .is-fixed {
        margin-top: 154px
    }

    .prime__slider__item {
        font-size: 12px;
        font-weight: 700
    }

    .prime__slider__image {
        display: block;
        margin-top: 40px
    }

    .prime__slider__image img {
        width: 100%
    }

    .prime__slick-next, .prime__slick-prev {
        position: absolute;
        top: calc(50% - 26px);
        z-index: 10;
        width: 52px;
        height: 52px;
        transition: .3s;
        outline: transparent
    }

    .prime__slick-next svg, .prime__slick-prev svg {
        width: 52px;
        height: 52px
    }

    .prime__slick-next:hover, .prime__slick-prev:hover {
        background-color: #0a6297;
        opacity: .3;
        transition: .3s
    }

    .prime__slick-next {
        right: 40px
    }

    .prime__slick-prev {
        left: 40px
    }

    .products__title {
        text-align: center
    }

    .products__wrapper {
        justify-content: center
    }

    .news__wrapper {
        justify-content: space-between
    }

    .news__item {
        max-width: 350px
    }

    .news__actions .news__item__title {
        padding-bottom: 96px
    }

    .network__title {
        text-align: center
    }

    .network__select {
        margin-top: 0
    }

    .stuff__wrapper {
        text-align: center
    }

    .fixed {
        min-height: 100px
    }

    .fixed .header {
        transition: .3s
    }

    .fixed .header__wrapper {
        align-items: unset
    }

    .fixed .header__logo {
        width: 91px;
        transition: .3s;
        margin: 12px 0 5px
    }

    .fixed .header__hot-line {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -10px
    }

    .fixed .header__user {
        margin-right: -360px;
        margin-bottom: -90px;
        transition: .3s
    }

    .fixed .header__user span {
        visibility: hidden;
        opacity: 0;
        margin-top: -10px;
        transition: .3s
    }

    .fixed .header__search-language__wrapper {
        margin-top: 10px;
        margin-left: 10px
    }

    .fixed .navigation {
        transition: .3s;
        height: 0;
        border: none
    }

    .fixed .navigation__products__wrapper {
        top: 100px
    }

    .fixed .navigation__list {
        margin-top: -70px;
        padding: 0 70px 0 100px;
        transition: .3s
    }

    .fixed .navigation__list__item {
        margin: 0 10px
    }

    .fixed .navigation__list__item:hover > div {
        visibility: visible;
        opacity: 1
    }

    .fixed .navigation__list__item > a {
        padding: 4px 0 6px
    }
}

@media (min-width: 1024px) {
    .header {
        min-height: 133px
    }

    .header__work-time {
        display: flex;
        color: #3c3c3b;
        font-size: 14px;
        font-weight: 400;
        align-self: center
    }

    .header__work-time svg {
        height: 19px;
        width: 19px
    }

    .header__work-time span {
        margin-left: 9px;
        margin-top: 1px
    }

    .header__language {
        margin-bottom: 10px
    }

    .search {
        top: 19px
    }

    .search__results {
        top: 87px
    }

    .navigation {
        transition: .3s
    }

    .navigation__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between
    }

    .navigation__list__item {
        margin-right: 0
    }

    .navigation__list__item > a {
        padding: 20px 0 22px
    }

    .navigation__products__wrapper {
        padding-bottom: 70px;
        top: 133px
    }

    .navigation__products__wrapper ul {
        justify-content: center
    }

    .is-fixed {
        margin-top: 70px
    }

    .prime__new {
        margin-left: 70px;
        font-size: 12px
    }

    .prime__title {
        font-size: 37px;
        margin-left: 70px
    }

    .prime__description {
        margin-left: 110px;
        font-size: 18px
    }

    .prime__slick-next {
        right: 40px
    }

    .prime__slick-prev {
        left: 40px
    }

    .prime .slick-dots button {
        width: 66px;
        height: 12px;
        margin: 0 12.5px
    }

    .products__title {
        text-align: left;
        font-size: 37px
    }

    .products__item {
        transition: .3s
    }

    .products__item:hover {
        transition: .3s;
        opacity: .8
    }

    .products__item__description {
        font-size: 18px
    }

    .news__item {
        width: 32%;
        max-width: 32%
    }

    .news__item__image img {
        width: 245px;
        height: 214px
    }

    .news__item__title {
        font-size: 18px
    }

    .news__industry .news__item__title {
        transition: .3s
    }

    .news__industry .news__item__title:hover {
        opacity: .7;
        transition: .3s
    }

    .news__actions .news__item__title {
        padding-bottom: 75px
    }

    .news__actions__slick-next, .news__actions__slick-prev {
        position: absolute;
        top: 120px;
        z-index: 10;
        width: 42px;
        height: 42px;
        fill: #eef2f5;
        transition: .3s
    }

    .news__actions__slick-next svg, .news__actions__slick-prev svg {
        width: 42px;
        height: 42px
    }

    .news__actions__slick-next:hover, .news__actions__slick-prev:hover {
        fill: #b7c8d5;
        transition: .3s
    }

    .news__actions__slick-next {
        right: 20px
    }

    .news__actions__slick-prev {
        left: 20px
    }

    .network__title {
        margin: 0;
        font-size: 37px;
        text-align: left
    }

    .network__select__label {
        margin: 0
    }

    .about {
        padding: 35px 0 70px;
        text-align: left
    }

    .about__menu__item {
        margin-top: 20px
    }

    .about__menu__item a {
        transition: .3s
    }

    .about__menu__item a:hover {
        color: #b1def6;
        transition: .3s
    }

    .about__menu__item:last-child {
        display: none
    }

    .about__submenu {
        display: block;
        column-count: 2;
        -webkit-columns: 2;
        -moz-columns: 2
    }

    .about__submenu__wrapper {
        margin-top: 20px;
        display: block
    }

    .about__submenu__title {
        font-size: 16px;
        font-weight: 700
    }

    .about__submenu__item {
        padding-top: 20px
    }

    .about__submenu__item a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        transition: .3s
    }

    .about__submenu__item a:hover {
        color: #b1def6;
        transition: .3s
    }

    .about__contacts {
        height: 100%;
        position: relative;
        padding-bottom: 110px
    }

    .about__hot__phone {
        margin-top: 20px
    }

    .about__logo {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 218px;
        height: 57px;
        opacity: .36
    }

    .stuff__wrapper {
        display: flex;
        justify-content: start
    }

    .stuff__map, .stuff__rules {
        margin: 0 0 0 80px;
        transition: .3s
    }

    .stuff__map:hover, .stuff__rules:hover {
        opacity: 1;
        transition: .3s
    }

    .fixed {
        min-height: 70px
    }

    .fixed .header__logo {
        margin: 17px 0 5px
    }

    .fixed .header__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        transform: translateX(30px)
    }

    .fixed .header__user {
        margin-right: -250px;
        margin-bottom: -15px
    }

    .fixed .header__search-language__wrapper {
        margin-top: 10px;
        margin-left: 10px
    }

    .fixed .navigation__products__wrapper {
        top: 65px
    }

    .fixed .navigation__list {
        flex-wrap: wrap;
        padding: 0 110px;
        margin-top: -60px
    }

    .fixed .navigation__list__item {
        margin: 0 15px
    }
}

@media (min-width: 1410px) {
    .header {
        min-height: 160px
    }

    .search__form__wrapper {
        max-width: 1170px
    }

    .search__results {
        right: -15px
    }

    .search__results__wrapper {
        max-width: 1170px
    }

    .navigation__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #fff
    }

    .navigation__list__item > a:after {
        bottom: -14px
    }

    .navigation__products__wrapper {
        top: 160px
    }

    .navigation__products__wrapper .products__item {
        text-align: left;
        margin-top: 20px;
        min-width: unset
    }

    .navigation__products__wrapper .products__item a {
        display: flex
    }

    .navigation__products__wrapper .products__item__description {
        align-self: center
    }

    .navigation__products__wrapper .products__item ul {
        justify-content: start
    }

    .is-fixed {
        margin-top: 65px
    }

    .prime__slider__item {
        min-height: 600px
    }

    .prime__new {
        margin-top: 125px
    }

    .prime__new, .prime__title {
        margin-left: 0
    }

    .prime__description {
        margin-left: 60px
    }

    .news__actions .news__item__title {
        padding-bottom: 96px
    }

    .fixed {
        min-height: 65px
    }

    .fixed .header__user {
        margin-right: -330px;
        margin-bottom: -10px
    }

    .fixed .header__search-language__wrapper {
        margin-bottom: 3px
    }

    .fixed .navigation__list {
        margin-top: -45px
    }

    .fixed .navigation__list__item {
        margin: 0 5px
    }

    .fixed .navigation__list__item > a:after {
        bottom: -20px
    }
}

@media (min-width: 1680px) {
    .search__form__wrapper {
        max-width: 1410px
    }

    .search__results {
        right: 0
    }

    .search__results__wrapper {
        max-width: 1410px
    }

    .navigation__list {
        flex-wrap: nowrap;
        justify-content: start
    }

    .navigation__list__item {
        margin-right: 25px
    }

    .navigation__list__item a {
        white-space: nowrap
    }

    .prime__title {
        font-size: 42px;
        line-height: 52px
    }

    .prime__description {
        margin-top: 38px;
        font-size: 18px;
        line-height: 32px
    }

    .prime__slick-next {
        right: 5%
    }

    .prime__slick-prev {
        left: 5%
    }

    .fixed .header__user {
        margin-right: -385px
    }

    .fixed .navigation__list {
        justify-content: space-between;
        padding-right: 130px
    }
}

.no-border {
    border: none
}

.header__menu__btn_close svg {
    display: block;
    height: 16px;
    width: 16px;
    fill: #000;
    margin-top: 3px;
    margin-left: 3px
}

.header__menu__btn_close:after {
    background: transparent;
    box-shadow: none
}

.mark__content__big {
    color: #404040;
    font-size: 37px;
    font-weight: 400
}

.mark__content__medium {
    color: #404040;
    font-size: 24px;
    font-weight: 400
}

.fixed {
    z-index: 55;
    left: 0;
    right: 0;
    top: 0;
    background: #fff
}

.fixed, .fixed__results {
    position: fixed
}

.js-hover {
    visibility: visible;
    opacity: 1
}

.popover {
    background: #fff;
    width: 512px;
    box-shadow: 0 3px 27px rgba(62, 125, 177, .14)
}

.popover__inner {
    min-height: 20px;
    background: #fff;
    position: relative;
    padding: 40px
}

.popover__content {
    width: 100%
}

.popover__close {
    position: absolute;
    right: 23px;
    top: 19px
}

.popover__close > svg {
    width: 18px;
    height: 18px;
    fill: #aaa
}

.balloon svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px
}

.balloon__title {
    border-bottom: 1px solid #e6eaef;
    padding-bottom: 20px
}

.balloon__title a {
    font-size: 24px;
    font-weight: 700;
    color: #000
}

.balloon__address {
    font-family: Open Sans -Semibold, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #e6eaef;
    position: relative
}

.balloon__address svg {
    top: 17px
}

.balloon__phone {
    margin-top: 20px;
    position: relative;
    padding-left: 30px
}

.balloon__phone > a {
    color: #000
}

.balloon__email, .balloon__work-time {
    margin-top: 10px;
    position: relative;
    padding-left: 30px
}
