@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap);

/* Глобальные стили */
body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

footer {
    margin-top: auto
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background: transparent
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none
}

* {
    outline: none !important
}

/* Глобальные стили, конец */

/* ____________________Мобильная версия____________________ */

/* Хеадер */

.header__menu, .header__tablet-menu {
    width: 27px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer
}

.header__menu span, .header__tablet-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out
}

.header__menu span:first-child, .header__tablet-menu span:first-child {
    top: 0
}

.header__menu span:nth-child(2), .header__menu span:nth-child(3) {
    top: 10px
}

.header__tablet-menu span:nth-child(2), .header__tablet-menu span:nth-child(3) {
    top: 10px
}

.header__menu span:nth-child(4), .header__tablet-menu span:nth-child(4) {
    top: 20px
}

.header__menu.open span:first-child, .header__tablet-menu.open span:first-child {
    top: 10px;
    width: 0;
    left: 50%
}

.header__menu.open span:nth-child(2), .header__tablet-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header__menu.open span:nth-child(3), .header__tablet-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.header__menu.open span:nth-child(4), .header__tablet-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%
}

.header {
    height: 59px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
}

.header__wrapper {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.header__logo {
    height: 24px;
    width: 90px;
    margin: 17px 40px 17px 0
}

.header__hot-line, .header__tablet-menu, .header__work-time {
    display: none
}

.header__work-time > svg {
    fill: #b3b3b3
}

.header__user span {
    display: none
}

.header .icon-lk {
    height: 18px;
    width: 18px;
    fill: #000
}

.header__search-language__wrapper {
    display: -ms-flexbox;
    display: flex
}

.header__search__button {
    outline: transparent;
    fill: #000;
    transition: .3s
}

.header__search__button > svg {
    width: 18px;
    height: 18px;
    margin-right: 4vw
}

.header__search__button:hover {
    fill: #a1ce5c;
    transition: .3s
}

.header__search__button.nice-select.open, .header__search__button:active {
    fill: #a1ce5c
}

.header__language {
    position: relative
}

.header__language__item {
    display: inline-block;
    position: relative;
    text-transform: uppercase
}

.header__language .icon-arrow_down {
    width: 20px;
    height: 15px
}

.header__menu {
    -ms-flex-item-align: center;
    align-self: center
}

.header__menu__btn {
    height: 22px;
    width: 27px;
    display: block;
    position: relative;
    outline: transparent
}

.header__menu__btn:after {
    content: "";
    width: 27px;
    height: 2px;
    background: #000;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    box-shadow: 0 10px #000, 0 20px #000
}

.header__menu__btn svg, .language {
    display: none
}

.language {
    position: absolute;
    width: 100%;
    top: 20px;
    background: #d7e9f7;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 60
}

.language__list__item > a {
    padding: 10px;
    color: #000;
    display: block;
    transition: .3s
}

.language__list__item > a:hover {
    background: #219bd8;
    color: #fff;
    transition: .3s
}

.language__list__item-active {
    background: #219bd8
}

.language__list__item-active > a:hover {
    color: #000
}

/* Хеадер, конец */

/* Навигация */

.navigation {
    display: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-top: 1px solid #cdcdcd
}

/* Навигация, конец */

/* Блок поиска */

.search {
    position: absolute;
    background: #eef5f9;
    z-index: 70;
    height: 59px;
    width: 0;
    top: 0;
    right: 0;
    transition: .3s;
    border-bottom: 1px solid #fbfcfd;
    box-sizing: border-box;
    overflow: hidden
}

.search__open {
    width: 100%;
    transition: .3s
}

.search__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%
}

.search__input {
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    padding: 0 15px 0 0;
    font-size: 14px;
    background: transparent
}

.search__input__wrapper {
    width: 100%;
    display: inline-block
}

.search__button {
    height: 59px;
    width: 59px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.search__button > svg {
    margin-top: 0
}

.search__button:hover {
    fill: #a1ce5c;
    transition: .3s
}

.search__button.nice-select.open, .search__button:active {
    fill: #a1ce5c
}

.search__button > svg {
    height: 18px;
    width: 18px
}

.search__close {
    height: 59px;
    width: 59px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.search__close > svg {
    height: 18px;
    width: 18px;
    fill: #aaa
}

.search__results {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    width: 100%
}

.search__results__wrapper {
    background: #eef5f9;
    padding: 0
}

.search__results__list {
    padding: 0 10px;
    width: 100%
}

.search__results__item_active {
    font-weight: 700
}

.search__results__item a {
    color: #000;
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 400;
    transition: .3s
}

.search__results__item a:hover {
    color: #219bd8;
    transition: .3s
}

.search__results__button {
    width: 100%;
    padding: 8px 0 10px;
    background-color: #dbe3e8;
    font-size: 14px;
    font-weight: 400;
    transition: .3s
}

.search__results__button:hover {
    background: #a1ce5c;
    transition: .3s
}

/* Блок поиска, конец */

/* Мобильное меню */

.mobile {
    display: none;
    background: #f1f7fc;
    padding: 35px 0 20px;
    z-index: 50;
    position: absolute;
    overflow-y: scroll;
    height: calc(100vh - 58px);
    width: 100%;
    top: 58px
}

.mobile__contacts {
    border-bottom: 1px solid #dee6ec;
    padding-bottom: 30px
}

.mobile__hot__phone {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px
}

.mobile__hot__description {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 10px
}

.mobile__phone {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10px
}

.mobile__email, .mobile__phone {
    font-family: Open Sans, sans-serif
}

.mobile__email {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 10px 0
}

.mobile__menu__item {
    border-bottom: 1px solid #dee6ec
}

.mobile__menu__item > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mobile__menu__item > div > svg {
    box-sizing: content-box;
    padding: 15px
}

.mobile__menu__item a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 15px 0;
    margin: 0 10px;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mobile__menu__item svg {
    width: 20px;
    height: 15px;
    transition: .3s
}

.mobile__menu__item_active .mobile__products__open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: .3s
}

.mobile__submenu {
    background: #fff;
    padding: 20px 0 20px 25px;
    display: none
}

.mobile__submenu__item {
    display: -ms-flexbox;
    display: flex
}

.mobile__submenu__item svg {
    width: 32px;
    height: 32px
}

.mobile__submenu__item span {
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 400
}

/* Мобильное меню, конец */

/* Первый блок */

.prime {
    position: relative
}

.prime__slider__item {
    height: 500px;
    position: relative
}

.prime__slider__image {
    display: none
}

.prime__new {
    padding: 5px 10px 8px;
    background: #a1ce5c;
    margin-top: 49px;
    display: inline-block;
    font-size: 10px;
    font-weight: 700
}

.prime__new span {
    opacity: .82
}

.prime__title {
    margin-top: 23px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px
}

.prime__description {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.prime__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.prime__bg img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

/* Первый блок, конец */

/* Настройка слик-слайдера */

.news .slick-dots, .prime .slick-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0
}

.news .slick-dots button, .prime .slick-dots button {
    border: 1px solid #fff;
    width: 37px;
    height: 7px;
    background: transparent;
    margin: 0 6px
}

.news .slick-dots > .slick-active > button, .prime .slick-dots > .slick-active > button {
    background: #fff
}

.slick-list {
    overflow: hidden
}

.slick-track {
    display: -ms-flexbox;
    display: flex
}

/* Настройка слик-слайдера, конец */

/* Продукты */

.products {
    text-align: center
}

.products__title {
    font-family: Open Sans, sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-top: 45px
}

.products__wrapper {
    margin-bottom: 63px
}

.products__item {
    margin-top: 30px;
    display: block;
    color: #000
}

.products__item__description {
    font-size: 15px
}

.icon-ico_1, .icon-ico_2, .icon-ico_3, .icon-ico_4, .icon-ico_5, .icon-ico_6, .icon-ico_7, .icon-ico_8, .icon-ico_9, .icon-ico_10 {
    width: 68px;
    height: 68px
}

/* Продукты, конец */

/* Новости */

.news {
    background: #d7e9f7;
    padding: 70px 0 65px
}

.news__wrapper > div {
    margin-top: 15px
}

.news__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0
}

.news__bg img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.news__item {
    display: block;
    height: 100%;
    position: relative;
    padding: 0
}

.news__item__description {
    margin-top: 111px;
    padding-bottom: 30px;
    position: relative;
    z-index: 5
}

.news__item__billet {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    min-height: 30px;
    color: #040404;
    letter-spacing: 2.08px;
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid rgba(249, 252, 253, .24);
    border-radius: 2px;
    margin: 26px 0 0 30px;
    position: relative;
    z-index: 10
}

.news__item__date {
    font-size: 14px;
    font-weight: 300;
    padding: 25px 0 16px 55px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .18);
    position: relative
}

.news__item__date > svg {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 21px;
    left: 30px
}

.news__item__title {
    margin: 18px 0 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0 30px;
    display: block;
    color: #fff
}

.news__company:after, .news__events:after, .news__webinars:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0d2c39;
    opacity: .5;
    top: 172px;
    z-index: 1;
    transition: .3s
}

.news__company:hover:after, .news__events:hover:after, .news__webinars:hover:after {
    top: 0;
    transition: .3s
}

.news__company {
    color: #fff
}

.news__company .news__item__billet {
    background: #d7e9f7
}

.news__company .icon-time {
    fill: #fff
}

.news__industry {
    background: #fff
}

.news__industry > .news__item__billet {
    background: #badb8f
}

.news__industry > .news__item__title {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(115, 164, 184, .32);
    color: #000
}

.news__industry > .news__item__title:last-child {
    border-bottom: none;
    padding-bottom: 45px
}

.news__industry svg {
    fill: #999
}

.news__events {
    color: #fff
}

.news__events .news__item__billet {
    background: #d7e9f7
}

.news__events .news__item__date svg {
    fill: #999
}

.news__webinars {
    color: #fff
}

.news__webinars .news__item__billet {
    background: #badb8f
}

.news__webinars .news__item__date svg {
    fill: #999
}

.news__actions {
    background: #fff;
    position: relative
}

.news__actions:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #badb8f
}

.news__actions .news__item__title {
    color: #000
}

.news__actions__brand {
    position: absolute;
    width: 73px;
    height: 47px;
    top: 25px;
    right: 18px
}

.news__actions .slick-dots {
    bottom: unset;
    top: 220px
}

.news__actions .slick-dots button {
    border: none;
    width: 44px;
    height: 6px;
    background: #979899;
    margin: 0 10px
}

.news__actions .slick-dots > .slick-active > button {
    background: #badb8f
}

.news__actions .news__item__billet {
    background: #d7e9f7
}

.news__actions .news__item__image img {
    margin: 15px auto 0;
    display: block
}

.news__actions .news__item__title {
    margin-top: -28px;
    background: #badb8f;
    position: relative;
    z-index: 10;
    padding: 29px 30px 37px
}

.news__item__wrapper {
    background: #fff
}

.news__item__wrapper svg {
    width: 68px;
    height: 68px
}

.news__item__subitem {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 34px 37px 36px 30px;
    box-shadow: 0 3px 7px rgba(62, 125, 177, .08);
    border-bottom: 1px solid rgba(115, 164, 184, .32);
    transition: .3s
}

.news__item__subitem:hover {
    background: #eef8fd;
    transition: .3s
}

.news__subitem__description {
    font-size: 18px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #000
}

/* Новости, конец */

/* Дилерская сеть */

.network {
    padding: 55px 0 47px
}

.network__title {
    font-size: 24px;
    font-weight: 700
}

.network__select {
    margin-top: 10px;
    border-radius: 0;
    background: #f1f7fc
}

.network__select .list {
    border-radius: 0
}

.network__select .list li {
    position: relative
}

.network__select .list li:after {
    content: "";
    display: block;
    position: absolute;
    background: #e9eff2;
    height: 1px;
    left: 18px;
    right: 18px
}

.network__map {
    min-height: 500px;
    margin: 35px auto
}

/* Дилерская сеть, конец */

/* Футер */

.footer {
    color: #fff
}

/* О компании */

.about {
    padding: 40px 0 70px;
    text-align: center;
    position: relative
}

.about__submenu {
    display: none
}

.about__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.about__bg img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.about__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.about__menu__item {
    margin-top: 15px
}

.about__menu__item a {
    color: #fff;
    font-size: 16px;
    font-weight: 700
}

.about__submenu__wrapper {
    display: none
}

.about__hot__phone, .about__phone {
    font-size: 24px;
    font-weight: 700
}

.about__phone {
    margin-top: 35px
}

.about__hot__phone {
    margin-top: 50px
}

.about__hot__description {
    font-size: 14px;
    font-weight: 400
}

.about__email {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px
}

.about__logo {
    display: none
}

/* О компании, конец */

/* Блок с копирайтами */

.stuff {
    background: #0a6297;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 25px 0 20px
}

.stuff__rights {
    opacity: .66
}

.stuff__rules {
    margin-top: 10px;
    opacity: .66
}

.stuff__rules a {
    color: #fff
}

.stuff__map {
    margin-top: 10px;
    opacity: .66
}

.stuff__map a {
    color: #fff
}

/* Блок с копирайтами, конец */

/* ____________________Мобильная версия, конец____________________ */

/* ____________________Планшентная версия____________________ */

@media (min-width: 768px) {

  /* Хеадер */
    .header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        z-index: 5;
        transition: .3s;
        border-bottom: 1px solid #cdcdcd
    }

    .header, .header__top {
        height: 70px
    }

    .header__logo {
        width: 152px;
        height: 40px;
        margin: 0
    }

    .header__tablet-menu {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -180px;
        margin-top: -14px
    }

    .header__hot-line {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-self: center;
        transition: .3s;
        margin-left: 80px
    }

    .header__hot-line__phone {
        color: #3c3c3b;
        font-size: 18px;
        font-weight: 700
    }

    .header__hot-line__description {
        color: #919191;
        font-size: 14px;
        font-weight: 400
    }

    .header__user {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-self: center;
        transition: .3s
    }

    .header__user button {
        color: #219bd8;
        display: -ms-flexbox;
        display: flex
    }

    .header__user span {
        display: block;
        margin-left: 9px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1px;
        transition: .3s
    }

    .header .icon-lk {
        fill: #219bd8
    }

    .header__search-language__wrapper {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-bottom: 20px
    }

    .header__search {
        text-align: right;
        margin-right: 13px
    }

    .header__language {
        margin-bottom: 10px;
        display: -ms-flexbox;
        display: flex
    }

    .header__language span {
        color: #31261a;
        font-size: 12px;
        font-weight: 400
    }

    .header__language .icon-arrow_down {
        margin-bottom: -3px
    }

    .header .icon-search {
        margin-right: 0
    }

    .header__menu {
        display: none
    }

    /* Хеадер, конец */

    /* Блок поиска */

    .search {
        height: 69px;
        top: 0;
        left: auto;
        right: 50%;
        margin-right: -345px;
        background: transparent
    }

    .search__open {
        width: 500px
    }

    .search__form {
        background: #eef5f9;
        width: 100%
    }

    .search__input {
        padding: 0 15px
    }

    .search__button {
        width: 67px;
        height: 67px
    }

    .search__button svg {
        width: 18px;
        height: 18px
    }

    .search__close {
        width: 67px;
        height: 67px;
        margin: 0
    }

    .search__close svg {
        height: 18px;
        width: 18px;
        fill: #aaa
    }

    .search__results {
        top: 69px;
        z-index: 60;
        width: 500px;
        left: auto;
        right: 50%;
        margin-right: -345px
    }

    .search__results__wrapper {
        background: transparent
    }

    .search__results__list {
        background: #eef5f9;
        width: 500px;
        margin-left: auto
    }

    .search__results__button {
        width: 500px;
        margin-left: auto;
        display: block
    }

    /* Блок поиска, конец */

    /* Навигация */

    .navigation {
        display: block;
        transition: .3s;
        height: auto;
        top: 70px;
        left: 50%;
        margin-left: -345px;
        position: absolute;
        width: 205px;
        background: #fff;
        border: none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
    }

    .navigation__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        transition: .3s
    }

    .navigation__list__wrapper {
        display: none;
        padding: 0
    }

    .navigation__list__item {
        width: 100%;
        border-right: 1px solid #cdcdcd
    }

    .navigation__list__item__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .navigation__list__item__wrapper > a {
        padding: 10px 10px 11px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        transition: .3s;
        position: relative;
        width: 100%;
        text-align: left;
        overflow: hidden
    }

    .navigation__list__item__wrapper > button {
        position: relative
    }

    .navigation__list__item__wrapper > button > svg {
        padding: 8px 10px;
        box-sizing: content-box;
        height: 20px;
        width: 20px;
        transition: .3s;
        fill: #cdcdcd
    }

    .navigation__products__wrapper {
        transition: .3s;
        position: absolute;
        z-index: 10;
        padding-bottom: 35px;
        background: #f1f7fc;
        top: 0;
        left: 205px;
        padding-top: 5px;
        width: 0;
        overflow: hidden;
        height: 300px
    }

    .navigation__products__wrapper ul {
        -ms-flex-pack: center;
        justify-content: center
    }

    .navigation__products__wrapper .products__item {
        text-align: center;
        margin-top: 10px;
        min-width: 33%
    }

    .navigation__products__wrapper .products__item a {
        color: #000;
        transition: .3s
    }

    .navigation__products__wrapper .products__item a:hover {
        color: #219bd8;
        transition: .3s
    }

    .navigation__products_active:before {
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #fff;
        right: -1px
    }

    .navigation__products_active > svg {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: .3s
    }

    .js-hover {
        width: 485px;
        height: 500px
    }

    .is-fixed {
        margin-top: 70px
    }

    /* Навигация, конец */

    /* Первый блок */

    .prime__slider__item {
        font-size: 12px;
        font-weight: 700
    }

    .prime__slider__image {
        display: block;
        margin-top: 40px
    }

    .prime__slider__image img {
        width: 100%
    }

    .prime__slick-next, .prime__slick-prev {
        position: absolute;
        top: calc(50% - 26px);
        z-index: 10;
        width: 52px;
        height: 52px;
        transition: .3s;
        outline: transparent
    }

    .prime__slick-next svg, .prime__slick-prev svg {
        width: 52px;
        height: 52px
    }

    .prime__slick-next:hover, .prime__slick-prev:hover {
        background-color: #0a6297;
        opacity: .3;
        transition: .3s
    }

    .prime__slick-next {
        right: 40px
    }

    .prime__slick-prev {
        left: 40px
    }

    /* Первый блок, конец */

    /* Продукты */

    .products__wrapper {
        -ms-flex-pack: center;
        justify-content: center
    }

    /* Продукты, конец */

    /* Новости */

    .news__wrapper > div {
        margin-top: 30px
    }

    /* Новости, конец */

    /* Дилерская сеть */

    .network__title__wrapper {
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }

    .network__select {
        margin-top: 0
    }

    /* Дилерская сеть, конец */

    /* О компании */

    .about {
        padding: 35px 0 45px;
        text-align: left
    }

    .about a {
        font-size: .8em
    }

    .about__menu {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: 312px
    }

    .about__menu__item a {
        transition: .3s
    }

    .about__menu__item a:hover {
        color: #b1def6;
        transition: .3s
    }

    .about__submenu {
        display: block;
        column-count: 2;
        -webkit-columns: 2;
        -moz-columns: 2
    }

    .about__submenu__wrapper {
        margin-top: 15px;
        display: block
    }

    .about__submenu__item {
        padding-top: 15px
    }

    .about__submenu__item a {
        color: #fff;
        font-weight: 400;
        transition: .3s
    }

    .about__submenu__item a:hover {
        color: #b1def6;
        transition: .3s
    }

    .about__contacts {
        height: 100%;
        position: relative;
        padding-bottom: 110px
    }

    .about__hot__phone {
        margin-top: 20px
    }

    .about__logo {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 218px;
        height: 57px;
        opacity: .36
    }

    /* О компании, конец */

    /* Блок с копирайтами */

    .stuff__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .stuff__map, .stuff__rules {
        margin-top: 0
    }

    /* Блок с копирайтами, конец */
}

/* ____________________Планшетная версия, конец____________________ */

/* ____________________Малая десктопная версия____________________ */

@media (min-width: 1024px) {

  /* Хеадер */
    .header {
        height: 158px
    }

    .header__top {
        height: 99px
    }

    .header__top > div {
        height: 100%
    }

    .header__logo {
        transition: .3s
    }

    .header__tablet-menu {
        display: none
    }

    .header__hot-line__phone {
        font-size: 24px
    }

    .header__work-time {
        display: -ms-flexbox;
        display: flex;
        color: #3c3c3b;
        font-size: 14px;
        font-weight: 400;
        -ms-flex-item-align: center;
        align-self: center
    }

    .header__work-time svg {
        height: 19px;
        width: 19px
    }

    .header__work-time span {
        margin-left: 9px;
        margin-top: 1px
    }

    .header__language {
        margin-left: 0
    }

    /* Хеадер, конец */

    /* Блок поиска */

    .search {
        top: 31px;
        margin-right: -480px
    }

    .search__results {
        top: 100px;
        margin-right: -480px
    }

    /* Блок поиска, конец */

    /* Навигация */

    .navigation {
        transition: .3s;
        position: static;
        height: 59px;
        margin: 0;
        width: 100%;
        border-top: 1px solid #cdcdcd
    }

    .navigation__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .navigation__list__wrapper {
        display: block;
        padding: 0 15px
    }

    .navigation__list__item {
        margin-right: 0;
        border: none;
        width: auto
    }

    .navigation__list__item:hover > .navigation__products__wrapper {
        visibility: visible;
        opacity: 1;
        transition: .3s
    }

    .navigation__list__item__wrapper > a {
        padding: 20px 0 22px;
        overflow: visible
    }

    .navigation__list__item__wrapper > a:hover {
        color: #219bd8
    }

    .navigation__list__item__wrapper > a:hover:after {
        content: "";
        display: block;
        bottom: -2px;
        position: absolute;
        height: 4px;
        left: -5px;
        right: -5px;
        z-index: 57;
        background: #219bd8
    }

    .navigation__list__item__wrapper > button {
        display: none
    }

    .navigation__products__wrapper {
        top: 158px;
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        height: auto;
        visibility: hidden;
        opacity: 0;
        transition: .3s
    }

    .navigation__products__wrapper .products__item {
        min-width: unset
    }

    .navigation__products__wrapper ul {
        -ms-flex-pack: center;
        justify-content: center
    }

    .is-fixed {
        margin-top: 70px
    }

    /* Навигация, конец */

    /* Первый блок */

    .prime__new {
        margin-left: 70px;
        font-size: 12px
    }

    .prime__title {
        font-size: 37px;
        margin-left: 70px
    }

    .prime__description {
        margin-left: 110px;
        font-size: 18px
    }

    .prime__slick-next {
        right: 40px
    }

    .prime__slick-prev {
        left: 40px
    }

    .prime .slick-dots button {
        width: 66px;
        height: 12px;
        margin: 0 12.5px
    }

    /* Первый блок, конец */

    /* Продукты */

    .products__title {
        text-align: left;
        font-size: 37px
    }

    .products__item {
        transition: .3s
    }

    .products__item:hover {
        transition: .3s;
        opacity: .8
    }

    /* Продукты, конец */

    /* Новости */

    .news__item__title, .products__item__description {
        font-size: 18px
    }

    .news__industry .news__item__title {
        transition: .3s
    }

    .news__industry .news__item__title:hover {
        opacity: .7;
        transition: .3s
    }

    .news__actions__slick-next, .news__actions__slick-prev {
        position: absolute;
        top: 120px;
        z-index: 10;
        width: 42px;
        height: 42px;
        fill: #eef2f5;
        transition: .3s
    }

    .news__actions__slick-next svg, .news__actions__slick-prev svg {
        width: 42px;
        height: 42px
    }

    .news__actions__slick-next:hover, .news__actions__slick-prev:hover {
        fill: #b7c8d5;
        transition: .3s
    }

    .news__actions__slick-next {
        right: 20px
    }

    .news__actions__slick-prev {
        left: 20px
    }

    /* Новости, конец */

    /* Дилерская сеть */

    .network__title {
        margin: 0;
        font-size: 37px;
        text-align: left
    }

    .network__select__label {
        margin: 0
    }

    /* Дилерская сеть, конец */

    /* О компании */

    .about a {
        font-size: 1em
    }

    /* О компании, конец */

    /* Блок с копирайтами */

    .stuff__wrapper {
        -ms-flex-pack: start;
        justify-content: start
    }

    .stuff__map, .stuff__rules {
        margin: 0 0 0 80px;
        transition: .3s
    }

    .stuff__map:hover, .stuff__rules:hover {
        opacity: 1;
        transition: .3s
    }

    /* Блок с копирайтами, конец */

    /* Фиксированное меню */

    .fixed, .fixed .header__top {
        height: 65px
    }

    .fixed .header__tablet-menu {
        display: block;
        position: static;
        margin-top: -13px;
        margin-left: -45px
    }

    .fixed .header__hot-line, .fixed .header__search-language__wrapper {
        margin: 0
    }

    .fixed .navigation {
        height: auto;
        top: 65px;
        left: 50%;
        margin-left: -465px;
        position: absolute;
        width: 205px;
        background: #fff;
        border: none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
    }

    .fixed .navigation__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        transition: .3s
    }

    .fixed .navigation__list__wrapper {
        display: none;
        padding: 0
    }

    .fixed .navigation__list__item {
        width: 100%;
        border-right: 1px solid #cdcdcd
    }

    .fixed .navigation__list__item:hover a {
        color: #219bd8
    }

    .fixed .navigation__list__item__wrapper > a {
        padding: 10px 10px 11px;
        position: relative;
        width: 100%;
        overflow: hidden
    }

    .fixed .navigation__list__item__wrapper > a:after {
        display: none
    }

    .fixed .navigation__list__item__wrapper > button {
        position: relative;
        display: block
    }

    .fixed .navigation__list__item__wrapper > button > svg {
        padding: 8px 10px;
        box-sizing: content-box;
        height: 20px;
        width: 20px;
        transition: .3s;
        fill: #cdcdcd
    }

    .fixed .navigation__products__wrapper {
        position: absolute;
        padding-bottom: 35px;
        top: 0;
        left: 205px;
        padding-top: 5px;
        width: 0;
        overflow: hidden;
        height: 300px
    }

    .fixed .navigation__products__wrapper ul {
        -ms-flex-pack: center;
        justify-content: center
    }

    .fixed .navigation__products__wrapper .products__item {
        text-align: center;
        margin-top: 10px;
        min-width: 25%
    }

    .fixed .navigation__products__wrapper .products__item a {
        color: #000;
        transition: .3s
    }

    .fixed .navigation__products__wrapper .products__item a:hover {
        color: #219bd8;
        transition: .3s
    }

    .fixed .navigation__products_active:before {
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #fff;
        right: -1px
    }

    .fixed .navigation__products_active > svg {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: .3s
    }

    .fixed .js-hover {
        width: 725px;
        height: 420px
    }

    /* Фиксированное меню, конец */
}

/* ____________________Малая десктопная версия, конец____________________ */

/* ____________________Средняя десктопная версия____________________ */

@media (min-width: 1410px) {

  /* Блок поиска */
    .search, .search__results {
        margin-right: -600px
    }

    /* Навигация */

    .navigation__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .navigation__products__wrapper .products__item {
        text-align: left;
        margin-top: 20px;
        min-width: unset
    }

    .navigation__products__wrapper .products__item a {
        display: -ms-flexbox;
        display: flex
    }

    .navigation__products__wrapper .products__item__description {
        -ms-flex-item-align: center;
        align-self: center
    }

    .navigation__products__wrapper .products__item ul {
        -ms-flex-pack: start;
        justify-content: start
    }

    .is-fixed {
        margin-top: 65px
    }

    /* Первый блок */

    .prime__slider__item {
        min-height: 600px
    }

    .prime__new {
        margin-top: 125px
    }

    .prime__new, .prime__title {
        margin-left: 0
    }

    .prime__description {
        margin-left: 60px
    }

    /* Новости */

    .news__actions:after {
        height: 60px
    }

    /* Фиксированное меню */

    .fixed .header__logo {
        width: 91px;
        height: 24px;
        transition: .3s
    }

    .fixed .header__tablet-menu {
        display: none
    }

    .fixed .header__hot-line, .fixed .header__work-time {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px
    }

    .fixed .header__user {
        margin-right: -330px
    }

    .fixed .header__user span {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        margin-top: -30px
    }

    .fixed .header__search-language__wrapper {
        margin-bottom: 3px
    }

    .fixed .navigation {
        left: 0;
        right: 0;
        position: absolute;
        opacity: 1;
        visibility: visible;
        margin: 0;
        width: 100%
    }

    .fixed .navigation__products__wrapper {
        top: 0;
        left: 0;
        width: 100%;
        height: unset
    }

    .fixed .navigation .products__item {
        min-width: unset
    }

    .fixed .navigation__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 110px 0 115px;
        margin-top: -53px;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .fixed .navigation__list__wrapper {
        display: block;
        height: 0
    }

    .fixed .navigation__list__item {
        margin: 0
    }

    .fixed .navigation__list__item__wrapper > a {
        padding: 12px 10px 24px;
        overflow: visible
    }

    .fixed .navigation__list__item__wrapper > a:hover:after {
        display: block
    }

    .fixed .navigation__list__item__wrapper > button {
        display: none
    }

    .fixed .navigation__list__item > a, .fixed .navigation__list__item > button {
        font-size: 10px;
        padding: 10px 0 26px
    }

    .fixed .navigation .navigation__list {
        padding: 0;
        margin: -53px 110px 0 115px
    }

    .fixed .navigation .navigation__list__item {
        width: auto;
        border: none
    }
}

/* ____________________Средняя десктопная версия, конец____________________ */

/* ____________________Большая десктопная версия____________________ */

@media (min-width: 1680px) {

  /* Блок поиска */

    .search, .search__results {
        margin-right: -705px
    }

    /* Навигация */

    .navigation__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: start;
        justify-content: start
    }

    .navigation__list__item {
        margin-right: 25px
    }

    .navigation__list__item a {
        white-space: nowrap
    }

    /* Первый блок */

    .prime__title {
        font-size: 42px;
        line-height: 52px
    }

    .prime__description {
        margin-top: 38px;
        font-size: 18px;
        line-height: 32px
    }

    .prime__slick-next {
        right: 5%
    }

    .prime__slick-prev {
        left: 5%
    }

    /* Новости */

    .news__actions .news__item__title {
        padding-bottom: 95px
    }

    /* Фиксированное меню */

    .fixed .header__user {
        margin-right: -385px
    }

    .fixed .navigation__list {
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 130px
    }

    .fixed .navigation .navigation__list {
        margin: -53px 130px 0
    }
}

/* ____________________Большая десктопная версия, конец____________________ */

/* Прочие стили */

.no-border {
    border: none
}

.header__menu__btn_close svg {
    display: block;
    height: 16px;
    width: 16px;
    fill: #000;
    margin-top: 3px;
    margin-left: 3px
}

.header__menu__btn_close:after {
    background: transparent;
    box-shadow: none
}

.mark__content__big {
    color: #404040;
    font-size: 37px;
    font-weight: 400
}

.mark__content__medium {
    color: #404040;
    font-size: 24px;
    font-weight: 400
}

.fixed {
    z-index: 55;
    left: 0;
    right: 0;
    top: 0;
    background: #fff
}

.fixed, .fixed__results {
    position: fixed
}

/* Стили для яндекс-карт */

.popover {
    background: #fff;
    width: 512px;
    box-shadow: 0 3px 27px rgba(62, 125, 177, .14);
    position: absolute
}

.popover__inner {
    min-height: 20px;
    background: #fff;
    position: relative;
    padding: 40px
}

.popover__content {
    width: 100%
}

.popover__close {
    position: absolute;
    right: 23px;
    top: 19px
}

.popover__close > svg {
    width: 18px;
    height: 18px;
    fill: #aaa
}

.balloon svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px
}

.balloon__title {
    border-bottom: 1px solid #e6eaef;
    padding-bottom: 20px
}

.balloon__title a {
    font-size: 24px;
    font-weight: 700;
    color: #000
}

.balloon__address {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #e6eaef;
    position: relative
}

.balloon__address svg {
    top: 17px
}

.balloon__phone {
    margin-top: 20px;
    position: relative;
    padding-left: 30px
}

.balloon__phone > a {
    color: #000
}

.balloon__email, .balloon__work-time {
    margin-top: 10px;
    position: relative;
    padding-left: 30px
}
